header {
    height: 80px;
    background: @background-color-grape;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .logo {
            display: contents;
        }
    }

    nav {
        .menu-btn-mobile {
            .wrapper-button {
                border: 1px solid @header-link-color;
            }

            i {
                background: @header-link-color;
                width: 20px;
                height: 2px;
                display: block;
                margin: 5px 0;
            }

            &:hover ul {
                display: block;
                position: fixed;
                left: 50px;
                top: 0;
                background: @background-color-grape;
                width: ~'calc(100% - 50px)';
                z-index: 2;
                height: 100%;
                text-align: center;
            }
        }

        ul {
            display: none;
            padding-top: 30px;

            li {
                margin-bottom: 15px;
            }

            a {
                text-transform: uppercase;
                color: @header-link-color;
                font-family: @robotoSlab-Bold;
            }
        }
    }
}

@media (max-width: @screen__m) {
    body {
        &.open-menu {
            position: fixed;

            &:after {
                content: "''";
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background: @color-black;
                opacity: 0.7;
                z-index: 999;
            }
        }

        header {
            z-index: 1001;
        }
    }

    .menu-btn-mobile {
        i {
            transition-duration: 200ms;
        }

        i:first-child {
            transform-origin: top left;
        }

        i:last-child {
            transform-origin: bottom left;
        }

        &.active {
            i:first-child {
                transform: translateY(-100%) rotate(45deg) scaleX(1.42);
            }

            i:nth-child(2) {
                visibility: hidden;
                transition-duration: 0s;
            }

            i:last-child {
                transform: translateY(100%) rotate(-45deg) scaleX(1.42);
            }
        }
    }

    .navigation-wrapper {
        visibility: hidden;
        position: absolute;
        transform: translateX(100%);
        transition-duration: 200ms;
        padding: 25px 150px 25px 50px;
        font-size: 1.2rem;
        background-color: @background-color-grape;
        height: 100vh;

        ul {
            display: block;
            visibility: hidden;
        }

        li {
            margin-bottom: 25px;
        }

        &.active {
            visibility: visible;
            transform: translateX(-55%);

            ul {
                visibility: visible;
            }

            a {
                color: @color-white;
            }
        }
    }
}

@media (min-width: @screen__m) {
    header {
        nav {
            .menu-btn-mobile {
                display: none;
            }

            ul {
                display: flex;
                padding-top: 0;

                > li {
                    padding-left: 15px;
                    margin-bottom: 0;

                    a {
                        color: @header-link-color;
                        font-family: @robotoSlab-Regular;
                        text-transform: capitalize;
                        padding: 10px 15px;
                        border-radius: 10px;
                        transition: all 0.3s;

                        &:hover {
                            background: @header-link-color;
                            color: @base-text-color;
                        }
                    }
                }
            }
        }
    }
}
