@color-black: #000;
@color-green: #96bf4c;

@base-text-color: #41135b;
@text-color-green: @color-green;
@background-color-grape: #41135b;
@button-text-color: #b6aac8;
@header-link-color: #b6aac8;
@footer-background-color: @color-green;
@color-white: #fff;
@border-color-green: @color-green;